body {
font-family: "Open Sans", sans-serif;
}

h1, h2, h3, .card-body>h5 {
  font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

.card-img-overlay h5 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-image: linear-gradient( #4DBEFF, black);
    padding: 20px 0px;
}

.site-footer h5{
    color: black;
}

.site-footer a {
    color: white;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right,black, #4DBEFF);
    margin: 0px;
}

.jumbotron h1, .jumbotron h2 {
    color: white;
}

.navbar {
    background-image: linear-gradient(to right, black, #BBBBBB);
}

.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-out;
}